@font-face {
    font-family: enougha;
    src: url(font/Enougha-w1md3.otf);
}

body {
    margin: 0px;
    font-family: enougha;
    background-color: #22151D;
    color: #D9992C;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("images/ankara.jpg");
    color: #3A2826;
    position: relative;
    transition: transform 1s ease, background-size 0.5s ease;
    font-size: 36px;
}

.hero:hover {
    transform: scale(1.05);
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #22151D 100%);
}

#title {
    margin-top: 0px;
    width: fit-content;
    padding: 16px 32px 4px 32px;
    border-radius: 3px;
    background-color: #D9992C;
}

.details {
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

#area-sqr {
    display: flex;
    width: fit-content;
}

.square {
    font-size: 16px;
    margin-top:32px ;
}

#sym {
    width: 100px;
}

.section {
    display: flex;
    justify-content: space-evenly;
}

.fact {
    transition: transform 0.25s ease;
}

.fact:hover {
    transform: scale(1.05);
}

#intro {
    font-size: 20px;
    padding: 0px 125px;
}

.activity-img {
    width: 300px;
    border-radius: 6px;
}

.activity {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-size: 16px;
}

#visit-btn {
    background-color: #D9992C;
    color: #22151D;
    border: 0px;
    border-radius: 6px;
    padding: 16px 32px 10px 32px;
    font-size: 36px;
    font-family: enougha;
    margin-bottom: 32px;
    box-shadow: 0 5px 5px #3A2826;
    transition: transform 0.25s ease;
}

#visit-btn:hover {
    transform: translateY(-5px);
    background-color: #C08827;
}

#visit-btn:active {
    background-color: #A67622;
}